[build-system]
requires = ["hatchling", "uv-dynamic-versioning"]
build-backend = "hatchling.build"

[tool.uv.workspace]
members = ["src", "services/dagster", "services/hub"]

[dependency-groups]
dev = [
    "pytest>=8.4.2",
]

[tool.uv]
dev-dependencies = [
    "ruff",
    "basedpyright",
]

[tool.hatch.version]
source = "uv-dynamic-versioning"
# Note JSON schemas don't seem to be right for tool.hatch.version.source so
# this may cause false warnings in IDEs.
# https://github.com/ninoseki/uv-dynamic-versioning/issues/21

[tool.uv-dynamic-versioning]
vcs = "git"
style = "pep440"
bump = true
